
.container
  // height 100%
  box-sizing border-box
  padding 0 20rpx 160rpx 20rpx
  .banner
    width 100%
    height 300rpx
    margin-bottom 20rpx
    overflow hidden
    background url('../../assets/snow1.jpg')
    background-position: center
    background-size: cover
  .work
    margin-bottom 40rpx
    .title
      // margin-left 20rpx
    .nav
      display flex
      height 300rpx
      width 100%
      .left
        width 50%
        background rgb(192, 231, 247)
        display flex
        justify-content center
        align-items center
        margin 10rpx 5rpx 10rpx 0
        box-sizing border-box
        border-radius 10rpx
        &:hover
          filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15));

      .right
        width 50%
        display flex
        flex-direction column
        .top
          height 50%
          background rgb(221, 198, 235)
          display flex
          justify-content center
          align-items center
          margin 10rpx 0 5rpx 5rpx
          box-sizing border-box
          border-radius 10rpx
          &:hover
            filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15));

        .bot
          height 50%
          background rgb(212, 240, 219)
          display flex
          justify-content center
          align-items center
          margin 5rpx 0 10rpx 5rpx
          box-sizing border-box
          border-radius 10rpx
          &:hover
            filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15));

  // .list
