.container
  width 100%
  display flex
  flex-direction column
  align-items center
  .item
    display flex
    flex-direction column
    width 650rpx
    padding 30rpx
    box-sizing border-box
    margin 30rpx 0
    border: 1rpx solid #ccc
